/* Base styling for the container */
.container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
  }
  
  /* Styling for the editor section */
  .editor-container {
    width: 50%;
    margin-top: 5px;
    height: 100vh;
  }
  
  /* Styling for the output section */
  .output-container {
    width: 50%;
    height: 100vh;
    padding-left: 10px;
    background-color: #282c34;
    color: #ffffff;
    overflow: auto;
  }
  
  /* Responsive design */
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
    
    .editor-container{
      width: 100%;
      height: 30vh;
    }
    .output-container {
      width: 100%;
      height: 70vh;
    }
  }
  